<div *ngIf="selectedPlayer">
  <button type="button" class="btn btn-secondary" (click)="resetPlayerSelection()">Cerrar</button>
  <br><br>
  <h4>Detalles del Jugador: {{ selectedPlayer.nombre }}</h4>
  <img [src]="selectedPlayer.img1" alt="{{ selectedPlayer.nombre }} Imagen 1" width="200px" class="rounded">
  <img [src]="selectedPlayer.img2" alt="{{ selectedPlayer.nombre }} Imagen 2" width="200px" class="rounded">
  <br><br>
  <p>Team: {{ selectedPlayer.equipo }}</p>
  <p>Age: {{ selectedPlayer.edad }}</p>
  <p>Position: {{ selectedPlayer.posicion }}</p>
  <p>Height: {{ selectedPlayer.altura }}</p>
  <p>Games Played: {{ selectedPlayer.partidos }}</p>

  <div class="video-container">
    <h4>Video Presentation</h4>
    <video width="100%" controls>
      <source [src]="selectedPlayer.video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <br>
  <button type="button" class="btn btn-secondary" (click)="resetPlayerSelection()">Cerrar</button>
</div>