<div *ngIf="selectedPlayer">
  <button type="button" class="btn btn-secondary" (click)="closeDetail()">Close</button>
  <h4>Detalles del Jugador: {{ selectedPlayer.nombre }} {{ selectedPlayer.apellido }}</h4>

  <!-- Campos editables -->
  <input [(ngModel)]="selectedPlayer.nombre" placeholder="Name">
  <input [(ngModel)]="selectedPlayer.apellido" placeholder="Last Name">
  <input [(ngModel)]="selectedPlayer.posicion" placeholder="Position">

  <!-- Botón de guardar -->
  <button type="button" class="btn btn-success" (click)="savePlayer()">Save</button>
</div>
