<div class="row">
  <div class="col-12 text-center">
    <div class="container">
      <br>
      <div class="card bg-light">
        <div class="card-body">
          <!-- Usamos *ngFor para iterar sobre los jugadores filtrados y agregamos (click) -->
          <ul>
            <li
              *ngFor="let jugador of jugadoresFiltrados"
              (click)="seleccionarJugador(jugador)"
            >
              <span class="jugador-nombre">{{ jugador.nombre }}</span>
              {{ jugador.apellido }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mostrar detalles del jugador seleccionado -->
<div *ngIf="jugadorSeleccionado">
  <!-- Botón para cerrar el detalle y resetear la selección -->
  <br>
  <button type="button" class="btn btn-secondary"(click)="resetJugadorSeleccionado()">Cerrar</button>
  <br>
  <br>
  <h4>Detalles del Jugador: {{ jugadorSeleccionado.nombre }}</h4>
  <img [src]="jugadorSeleccionado.img1" alt="{{ jugadorSeleccionado.nombre }} Imagen 1" width="200px" class="rounded">
  <img [src]="jugadorSeleccionado.img2" alt="{{ jugadorSeleccionado.nombre }} Imagen 2" width="200px" class="rounded">
  <br>
  <br>
  <p>Equipo: {{ jugadorSeleccionado.equipo }}</p>
  <p>Edad: {{ jugadorSeleccionado.edad }}</p>
  <p>Posición: {{ jugadorSeleccionado.posicion }}</p>
  <p>Altura: {{ jugadorSeleccionado.altura }}</p>
  <p>Partidos: {{ jugadorSeleccionado.partidos }}</p>

  <!-- Reproductor de video -->
  <div class="videopresentacion">
    <h4>Video Presentación</h4>
    <video width="600" controls>
      <source [src]="jugadorSeleccionado.video" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
  <br>

    <!-- Botón para cerrar el detalle y resetear la selección -->
    <button type="button" class="btn btn-secondary"(click)="resetJugadorSeleccionado()">Cerrar</button>

</div>




<!--
  A.Incorporar los datos creados al componente
  B.Usando los eventos de comunicación de Angular, comunicar el item seleccionado en el listado
   al detalle para previsualizar los datos de ese detalle.
  C.Incorporar el HTML+CSS para diseñar el listado
  D.Incorporar el listado a la aplicación

<h4>Detalles del equipo: {{ equipoSeleccionado }}</h4>
<div class="container detallesequipo">
  <div class="card bg-light">
    <div class="card-header">Listado de Jugadores del Equipo</div>
    <div class="card-body">
      <div *ngIf="datos.length > 0">
        
        Agrega el (click) para seleccionar el jugador 
        <div class="playerItem" *ngFor="let item of datos" (click)="seleccionarJugador(item)">
          <div *ngIf="item.equipo === equipoSeleccionado">
            <p>Nombre: {{ item.nombre }}</p>
            <p>Apellido: {{ item.apellido }}</p>
          </div>
        </div>

        
        <div class="playerItem" *ngFor="let item of datos" (click)="seleccionarJugador(item)">
          <div *ngIf="item.equipo === equipoSeleccionado">
            <p>Nombre: {{ item.nombre }}</p>
            <p>Apellido: {{ item.apellido }}</p>
             Click en el jugador para ver los detalles 
          </div>
        </div> 

      </div>
      <div *ngIf="datos.length === 0">
        <p>No hay jugadores en el equipo seleccionado.</p>
      </div>
    </div>
  </div>

  Mostrar detalles del jugador seleccionado 
  <div *ngIf="jugadorSeleccionado">
    <h4>Detalles del Jugador: {{ jugadorSeleccionado.nombre }}</h4>
     <p>Apellido: {{ jugadorSeleccionado.apellido }}</p>
     <p>Equipo: {{ jugadorSeleccionado.equipo }}</p>
     <p>Posición: {{ jugadorSeleccionado.posicion }}</p>
     <p>Partidos: {{ jugadorSeleccionado.partidos }}</p>
  </div>
</div>
-->
