<div class="row">
  <div class="col-12 text-center">
    <div class="container">
      <nav class="navbar navbar-fixed-top border rounded">
        <a class="navbar-brand" href="#">
          <img src="../assets/CodeCosmos.png" style="width: 60px; height: 60px;" alt="Logo">
        </a>
        <div class="mx-auto">
          <p>FP067 (P) Desarrollo front-end con frameworks avanzados en entornos móviles</p>
        </div>
      </nav>
    </div>
  </div>

  <!-- Componente de Jugadores mostrado directamente -->
  <div class="row">
    <div class="col-12">
      <div>
         <app-players-component [inputBDData]="playersData"></app-players-component>
      </div>
    </div>
  </div>

  <!-- Footer de la página -->
  <footer>
    <div class="row">
      <div class="col-12 text-center">
        <div class="container footerweb">
          <div class="card">
            <div class="card-body">
              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center linea">
                <p>Camelia Ancuta Moticeac<br>
                   Sue Cajidos Ros<br>
                   Alejandro Arévalo Rojas<br>
                   Carlos Bravo Serrano<br>
                   Liliana Diaz Ibañez</p>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 text-center linea">
                <img src="../assets/CodeCosmos.png" style="width: 150px; height: 150px; vertical-align: text-bottom;" alt="Code Cosmos Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>