/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 45px;
}
nav {
  border-color: darkgray;
}
.botonespaginainicio {
  padding-top: 35px;
}

.detallesequipo {
  padding-top: 35px;
}

.busquedajugadores {
  padding-top: 35px;
}

.informacionjugador {
  padding-top: 35px;
}  

.footerweb {
  padding-top: 35px;
  padding-bottom: 35px;
}

.linea {
  display : inline-block;
}