/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 45px;
  background-color: #7AB2D3;
}

nav {
  border-color: #B9E5E8;
  background-color: #DFF2EB;
}

.card {
  border-color: #B9E5E8;
  background-color: #DFF2EB;
}

.btn {
  border-color: #7AB2D3;
  background-color: #4A628A;
}

.botonespaginainicio {
  padding-top: 35px;
}

.detallesequipo {
  padding-top: 35px;
}

.busquedajugadores {
  padding-top: 35px;
}

.informacionjugador {
  padding-top: 35px;
}  

.footerweb {
  padding-top: 35px;
  padding-bottom: 35px;
}

.linea {
  display : inline-block;
}